.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  padding: 4px;
  margin: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  text-align: center;
}
table tr {
  margin: 10px;
}
button {
  padding: 4px;
  margin: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
